@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nanum+Myeongjo&family=Poppins:wght@100&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}
